.details
  position relative
  .tab
    height 1.066667rem
    border-bottom: .013334rem solid rgba(7,17,27,0.1)
  .fade-enter-active, .fade-leave-active 
    transition: opacity .3s
  .fade-enter, .fade-leave-to 
    opacity: 0
  .contain
    height: calc(100% - 1.066667rem - 1.28rem)
  .foot
    position: fixed
    width: 100%
    z-index: 10
    height 1.28rem
    bottom: 0
    background-color: #141d27