@import '../../common/stylus/mixin.styl'
.goods
  position relative
  width: 100%
  overflow: scroll;
  .left-wrapper
    float left
    width 2.133333rem
    height 100%
    overflow scroll
  .right-wrapper
    height 100%
    overflow scroll
