@import '../../common/stylus/mixin.styl'
.goods
  position relative
  width: 100%
  overflow: auto;
  height 100%
  .left-wrapper
    float left
    width 2.133333rem
    height 100%
    overflow auto
  .right-wrapper
    height 100%
    overflow auto
