@import '../../common/stylus/mixin.styl'
.goods
  position relative
  width: 100%
  .head
    height 100%
    overflow auto
    .left-wrapper
      float left
      width 2.133333rem
      height 100%
    .right-wrapper
      height 100%
      overflow auto
  .foot
    position: fixed
    width: 100%
    z-index: 10
    height 1.28rem
    bottom: 0
    background-color: #141d27
