.food-wrapper
  .tittle
    position sticky
    top 0
    height .693333rem
    line-height: .693333rem
    padding-left: .373333rem
    font-size: .32rem
    color: rgb(147,153,159)
    background-color: #f3f5f7
    border-left: .026667rem solid #d9dde1 
  .food
    padding: .48rem
    border-bottom: .013334rem solid rgba(7,17,27,0.1)
    .left
      display: inline-block
      height 1.706667rem
      width: 1.706667rem
      margin-right: .266667rem
      vertical-align: top
    .right
      width: calc(100% - 1.706667rem - .266667rem)
      display inline-block
      padding-top: .053333rem
      .name
        font-size: .373333rem
        color: rgb(7,17,27)
        line-height: .373333rem
        margin-bottom: .213333rem
      .description, .sell
        font-size: .266667rem
        color: rgb(147,153,159)
        line-height: .32rem
        margin-bottom: .213333rem
      .sell
        .sellCount
          display inline-block
          margin-right: .32rem
      .price-wrapper
        height .64rem
        line-height: .64rem
        font-size: .373333rem
        color: red
        .price
          font-weight: 700
          margin-right: .213333rem 
          .money
            font-size: .266667rem
            font-weight: normal
        .old-price
          font-size: .266667rem
          color: rgb(147,153,159)
        .number
          float: right
          right 0
          font-size: .64rem
          .remove-enter, .remove-leave-to
            transform: translateX(.266667rem /* 20/75 */);
            opacity: 0;
          .remove-enter-active, .remove-leave-active
            transition: all .8s ease;
          .icon
            float left
            display inline-block
          .number
            float left
            display inline-block
            text-align: center
            width: .64rem
            font-size: .266667rem
            color: rgb(147,153,159)
  .food:last-child
    border: 0