@import '../../common/stylus/mixin.styl'
.on, .half, .off
  display inline-block
  width: .64rem
  height .64rem
  background-size: 100% 100%
  margin-right: .32rem
.on
  bg-image('star48_on')
.half
  bg-image('star48_half')
.off
  bg-image('star48_off')