.seckill
  position relative
  display: flex
  flex-direction: column
  overflow hidden
  background-color: rgb(235,235,235)
  .back-image
    border: 0px solid black;
    position: absolute;
    box-sizing: border-box;
    height: 291.5px;
    width: 100%
    top: 0px;
    left: 0px;
    z-index: 0
    background-image: url(//gw.alicdn.com/tfs/TB1aVGFx1T2gK0jSZFvXXXnFXXa-750-583.png?getAvatar=avatar_790x10000.jpg_.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  .top-wrapper
    flex-shrink: 0
    flex-grow: 0
    height: 119px;
    z-index 1
    .seckill-tittle
      padding-top: 44px
      text-align: center
      color: rgb(255,255,255)
      font-weight: 700
      font-size: 32px
      font-style: italic
  .bottom-wrapper
    position relative
    .seckill-content
      margin 8.5px 9px
      padding 9px
      border-radius: 12px
      background-color: rgb(255,255,255)
      display: flex
      flex-direction: row
      .goods-img
        flex-shrink: 0
        flex-grow: 0
        height 130px
        width: 130px
      .goods-info
        flex-shrink: 1
        flex-grow: 1
        margin-left: 10px
        font-size: 12px
        .common
          display: block
        .goods-name
          color: rgb(17, 17, 17);
          text-overflow: ellipsis;
          top: 19px;
          left: 148px;
          font-size: 14px;
          line-height: 25px;
          font-weight: bold;
          margin-bottom: 3px
        .goods-seckiil
          font-size: 20px;
          color: rgb(255, 0, 48);
          line-height: 24px;
          margin-right: 2px;
          font-weight: bold;
          height: 24px
          margin-bottom: 5px
        .goods-oldprice
          font-size: 13px;
          line-height: 24px;
          margin-right: 2px;
          font-weight: 300;
          height: 24px
          text-decoration: line-through
        .goods-inventory
          margin-top: 5px
          margin-right: 15px
          color: rgb(255,255,255)
          padding: 8px
          border-radius: 4px
          box-sizing: border-box
          background-color: rgb(255, 0, 48)
          font-size: 16px
          font-weight: bold
          text-align: center
          .inventory-content
            margin-right: 15px
          
        
