@import '../../common/stylus/mixin.styl';
.shop-list
  position: relative
  font-size: 0.373333rem; /* 28/75 */
  .sticky-wrapper {
      position: sticky;
      top: 0;
      background-color: rgb(255, 255, 255);

      .tittle-wrapper {
          position: relative;
          display: flex;
          justify-content: center;
          font-weight: 600;
          align-items: center;
          line-height: 1.4;
          font-size: 0.453333rem; /* 34/75 */
          margin-top: 0.4rem; /* 30/75 */
          margin-bottom: 0.133333rem; /* 10/75 */
          border-left-right(rgba(157, 157, 157, 0.5), 0.013333rem, 1.6rem, 0.08rem);
      }

      .search-box {
          position: relative;
          width: 100%;
          background: #ffffff;
          font-size: 0.373333rem; /* 28/75 */
          border-top-bottom(rgba(157, 157, 157, 0.5), 0.013333rem);

          .search-content {
              width: 100%;

              .content {
                  width: 25%;
                  box-sizing: border-box;
                  line-height: 1.066667rem; /* 80/75 */
                  display: inline-block;
                  text-align: center;
              }
          }
      }
  }

  .shop-wrapper {
      background: rgba(240, 240, 240, 0.5);
      font-size: 0.293333rem; /* 22/75 */

      .shop-content {
          margin: 0.133333rem; /* 10/75 */
          display: flex;
          padding: 0.133333rem; /* 10/75 */
          padding-bottom: 0.533333rem; /* 40/75 */
          background-color: rgb(255, 255, 255);
          border-radius: 0.066667rem; /* 5/75 */

          .shop-left {
              width: 2.026667rem; /* 152/75 */
              height: 1.52rem; /* 114/75 */

              .image {
                  height: 1.52rem; /* 114/75 */
                  width: 2.026667rem; /* 152/75 */
                  background-repeat: repeat;
                  flex-shrink: 0;
              }
          }

          .shop-right {
              flex: 1 0;
              padding-left: 0.213333rem; /* 16/75 */

              .shop-right-top {
                  margin-bottom: 0.106667rem; /* 8/75 */
                  font-size: 0.426667rem; /* 32/75 */
                  font-weight: 600;
                  width: 80%;
                  text-overflow: ellispsis;
                  overflow: hidden;
                  white-space: nowrap;
              }

              .shop-right-center {
                  display: flex;
                  height: 0.426667rem; /* 32/75 */
                  line-height: 0.426667rem; /* 32/75 */
                  margin-bottom: 0.106667rem; /* 8/75 */

                  .sorce {
                      .start {
                          display: inline-block;
                          margin-right: 0.106667rem; /* 8/75 */
                      }
                  }

                  .distance {
                      flex: 1 0;
                      text-align: right;
                  }
              }
          }
      }
  }
  .no-found
    padding: 10px
    text-align: center