.user
  position relative
  height 100%
  .user-content
    display: flex
    justify-content: center
    .img
      width: 40px
      height 40px
      border-radius: 50%
  .common
    margin: 0 30px
    padding: 10px 0
    border-bottom: 1px solid rgba(157,157,157,0.5)