.location
    position relative
    width 100%
    font-size .426667rem /* 32/75 */
    .location-wrapper
        display flex
        align-items center 
        height 1.2rem /* 90/75 */
        font-size .373333rem /* 28/75 */
        widht 100%
        box-sizing border-box
        padding .213333rem /* 16/75 */ .4rem /* 30/75 */ .213333rem /* 16/75 */ .266667rem /* 20/75 */
        .left-content
            display flex
            flex-direction row
            flex 1
            align-items center
            .city
                display flex
                align-items center
                box-sizing border-box
                color #333
                max-width 1.493333rem /* 112/75 */
                padding .106667rem /* 8/75 */ .133333rem /* 10/75 */
                line-height .586667rem /* 44/75 */
            .light-high
                color #ffb000
            .address
                flex 1
                margin-left .373333rem /* 28/75 */
            .close-wrapper
                width .373333rem /* 28/75 */
                padding-left .266667rem /* 20/75 */
                text-align center 
                color #999999
                line-height .373333rem /* 28/75 */
    .current-address
        position relative
        margin-top .533333rem /* 40/75 */
        margin-bottom .266667rem /* 20/75 */
        padding-left .4rem /* 30/75 */
        .address-tittle
            font-weight 600
            margin-left .16rem /* 12/75 */
            max-width 3.733333rem /* 280/75 */
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
        .refress-address
            position absolute
            right .4rem /* 30/75 */
            font-size .373333rem /* 28/75 */
            color #ffb000
    .receiving-wrapper
        font-size .373333rem /* 28/75 */
        .receving-tittle
            padding .4rem /* 30/75 */ 0 .266667rem /* 20/75 */ .4rem /* 30/75 */
            color #999
            font-size .373333rem /* 28/75 */
            .icon
                margin-right .133333rem /* 10/75 */
        .receving-wrapper
            font-size .373333rem /* 28/75 */
            padding-left .4rem /* 30/75 */
            .receving-content
                padding .533333rem /* 40/75 */ 0 
                .other
                    margin-top .213333rem /* 16/75 */
                    color #666
        .more-address
            padding .266667rem /* 20/75 */
            padding-left .4rem /* 30/75 */
            color #333
    .near-address-wrapper
        font-size .373333rem /* 28/75 */
        .near-address-tittle
            padding .4rem /* 30/75 */ 0 .266667rem /* 20/75 */ .4rem /* 30/75 */
            color #999
        .near-address-content
            font-size .426667rem /* 32/75 */
            padding .533333rem /* 40/75 */ 0 .533333rem /* 40/75 */ .4rem /* 30/75 */


