.my-header
    height 1.333333rem /* 100/75 */ 
    display flex
    text-align center
    .icon
        display inline-block
        height 100%
        margin-left .266667rem /* 20/75 */
        display flex
        align-items center
        font-size .666667rem /* 50/75 */
    .tittle
        flex 1 0
        display inline-block
        height 100%
        line-height 1.333333rem /* 100/75 */
        font-size .373333rem /* 28/75 */
        color #333333