@import '../../common/stylus/mixin.styl';

.head-wrapper {
    width: 100%;
    height: 100%;

    .head {
        position: relative;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        height: 1.333333rem; /* 100/75 */
        line-height: 1.333333rem; /* 100/75 */
        background: #1C1B20;
        color: rgb(255, 255, 255);
        padding: 0 0.266667rem; /* 20/75 */
        font-size: 0.426667rem; /* 32/75 */

        .left-wrapper {
            float: left;
            display: flex;
            justify-content: center;

            .left-icon {
                margin-right: 0.133333rem; /* 10/75 */
            }

            .loaction-tittle {
                display: inline-block;
                max-width: 3.733333rem; /* 280/75 */
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .right-icon {
                margin-right: 0.533333rem; /* 40/75 */
            }
        }

        .right-wrapper {
            flex: 1;
            box-sizing: border-box;
            width: 100%;
            height: 1.333333rem; /* 100/75 */
            padding: 0.133333rem; /* 10/75 */

            .content {
                width: 100%;
                height: 100%;
                border-radius: 0.533333rem; /* 40/75 */
                background-color: rgb(255, 255, 255);
            }
        }
    }

    .kingkong-wrapper {
        .kingkong-parent {
            display: flex;
            justify-content: space-around;

            .kingkong-child {
                padding-top: 0.4rem; /* 30/75 */
                display: inline-block;
                width: 1.173333rem; /* 88/75 */

                .kingkong-img {
                    width: 1.173333rem; /* 88/75 */
                    height: 1.173333rem; /* 88/75 */

                    .img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .kingkong-name {
                    margin-top: 0.133333rem; /* 10/75 */
                    font-size: 0.293333rem; /* 22/75 */
                    text-align: center;
                }
            }
        }
    }

    .footer {
        position: relative;
        max-height: 100%;
    }

    .filter-wrapper {
        position: absolute;
        top: 8.066667rem; /* 605/75 */
        bottom: 0px;
        width: 100%;
        z-index: 10;
        background-color: rgba(157, 157, 157, 0.3);
    }
}
