.contact
    position relative
    width 100%
    font-size .426667rem /* 32/75 */
    .common
        display flex
        margin-left .4rem /* 30/75 */
        height 1.4rem /* 105/75 */
        line-height 1.4rem /* 105/75 */
        border-bottom .026667rem /* 2/75 */ solid #e4e4e4
        .left-common
            position absolute
        .right-common
            margin-left 2rem /* 150/75 */
            flex 1
            font-size .426667rem /* 32/75 */
        .address
            display flex
            align-items center
            .address-content
                flex 1
    .sex-content
        padding-left 2rem /* 150/75 */
        .icon
            color rgb(157,157,157)
        .icon-right
            margin-left 1.333333rem /* 100/75 */
        .lighthigh
            color #f8c74e
    .common-buttom
        margin: 25px 15px 15px 15px;
        height 1.066667rem /* 80/75 */
        line-height 1.066667rem /* 80/75 */
        border .026667rem /* 2/75 */ solid #FFB000
        border-radius .106667rem /* 8/75 */
        text-align center
        color rgn(51,51,51)
    .hightligh
        background-image linear-gradient(135deg, #FFD266 0%, #FFBD27 100%)