.address
    position relative
    height 100%
    widht 100%
    font-size .426667rem /* 32/75 */
    .header-wrapper
        border-bottom .026667rem /* 2/75 */ solid rgba(157,159,163,0.2)
    .address-wrapper
        margin-bottom 1.2rem /* 90/75 */
        overflow hidden
        .address-correct
            position relative
            display flex
            align-items center
            height 1.746667rem /* 131/75 */
            margin-left 1.12rem /* 84/75 */
            padding-right .4rem /* 30/75 */
            color #666
            border-bottom .026667rem /* 2/75 */ solid rgb(228,228,228)
            .check
                position absolute
                left -.666667rem /* 50/75 */
                font-size .533333rem /* 40/75 */
                color #f8c74e
            .address-content
                width 90%
                .top-address,.bottom-address
                    display flex
                    max-width 90%
                    line-height .6rem /* 45/75 */
                    .left-content
                        margin-right .266667rem /* 20/75 */
                    .right-content
                        flex 1
                        overflow hidden
                        white-space nowrap
                        text-overflow ellipsis
            .icon
                width: 10%;
                height: 100%;
                display flex
                justify-content: center;
                align-items: center;
                color rgb(157,157,157)
        .over-place
            margin-top .666667rem /* 50/75 */
            .top-wrapper
                display flex
                font-size .373333rem /* 28/75 */
                margin-left .933333rem /* 70/75 */
                color #666
            .address-over
                display flex
                align-items center
                height 1.746667rem /* 131/75 */
                margin-left 1.12rem /* 84/75 */
                padding-right .4rem /* 30/75 */
                color #666
                border-bottom .026667rem /* 2/75 */ solid rgb(228,228,228)
                .address-content
                    width 90%
                    .top-address,.bottom-address
                        display flex
                        max-width 90%
                        line-height .6rem /* 45/75 */
                        .left-content
                            margin-right .266667rem /* 20/75 */
                        .right-content
                            flex 1
                            overflow hidden
                            white-space nowrap
                            text-overflow ellipsis
                &:last-child
                    border 0
    .footer-wrapper
        position fixed
        width 100%
        bottom 0px
        display flex
        justify-content center 
        align-items center
        height 1.173333rem /* 88/75 */
        border-top .026667rem /* 2/75 */ solid rgba(157,157,157,0.3)
        .footer-content
            font-size .426667rem /* 32/75 */
            .icon
                color #f8c74e

