@font-face {
  font-family: 'sell-icon';
  src:  url('fonts/sell-icon.eot?m9rf0l');
  src:  url('fonts/sell-icon.eot?m9rf0l#iefix') format('embedded-opentype'),
    url('fonts/sell-icon.ttf?m9rf0l') format('truetype'),
    url('fonts/sell-icon.woff?m9rf0l') format('woff'),
    url('fonts/sell-icon.svg?m9rf0l#sell-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "\e914";
}
.icon-white-location:before {
  content: "\e913";
}
.icon-home:before {
  content: "\e917";
}
.icon-refresh-location:before {
  content: "\e912";
}
.icon-remind:before {
  content: "\e911";
}
.icon-yes:before {
  content: "\e90f";
}
.icon-no:before {
  content: "\e910";
}
.icon-modify:before {
  content: "\e90d";
}
.icon-time:before {
  content: "\e90e";
  color: #666767;
}
.icon-screening:before {
  content: "\e901";
}
.icon-location:before {
  content: "\e900";
}
.icon-favorite:before {
  content: "\e902";
}
.icon-check_circle:before {
  content: "\e903";
}
.icon-keyboard_arrow_right:before {
  content: "\e904";
}
.icon-thumb_down:before {
  content: "\e905";
}
.icon-thumb_up:before {
  content: "\e906";
}
.icon-add_circle:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-remove_circle_outline:before {
  content: "\e909";
}
.icon-shopping_cart:before {
  content: "\e90a";
}
.icon-arrow_lift:before {
  content: "\e90b";
}
.icon-arrow-down:before {
  content: "\e90c";
}
