@import '../../common/stylus/mixin.styl'

.home
    position relative
    height 100%
    width 100%
    font-size 0
    display flex
    flex-direction column
    .head-wrapper
        width 100%
        flex 1 1
        overflow auto
    .bottom-wrapper
        width 100%
        flex none
        height 1.28rem
        display flex
        justify-content space-around
        font-size .373333rem /* 28/75 */
        color #000000
        border-top .026667rem /* 2/75 */ solid rgba(157,157,157,0.5)
        .bottom-child
            text-align center
            margin auto
            font-weight bold
        .highlight
            color rgb(37,170,239)



