.login
    .login-header
        margin 0
        margin-top 1.573333rem /* 118/75 */
        margin-bottom 1.333333rem /* 100/75 */
        padding 0
        text-align center
        font-size .493333rem /* 37/75 */
        .parent
            display inline-block
            .img
                width 1.76rem /* 132/75 */
                height 1.76rem /* 132/75 */
                display block
                margin 0 auto
    .login-footer
        font-size .341333rem /* 25.6/75 */
        padding .512rem /* 38.4/75 */
        .border-wrapper
            border-bottom .026667rem /* 2/75 */ solid rgb(229,229,229)
            padding-bottom .256rem /* 19.2/75 */
            height .597333rem /* 44.8/75 */
            .account
                font-size .426667rem /* 32/75 */
                display inline-block
                border 0
            .yanzhengma
                float right
                padding .133333rem /* 10/75 */ .266667rem /* 20/75 */
                background-color #dcdcdc
                border-radius .0816rem /* 6.12/75 */
                color #999
            .lihight
                color #ffd300
                border .013333rem /* 1/75 */ solid #ffd300
                background-color rgb(255,255,255)
        .pwd
            margin-top .426667rem /* 32/75 */
        .login-buttom
            margin-top .853333rem /* 64/75 */
            display block
            width 100%
            border 0
            height 1.109333rem /* 83.2/75 */
            line-height 1.109333rem /* 83.2/75 */
            background-color #e5e5e5
            color #999
            border-radius .128rem /* 9.6/75 */
        .lihight
            background-color #ffd300
            color #fff