.scroll
  height calc(100% - 1.28rem)
  .info
    .img-wrapper
      .close
        position: absolute
        top .48rem
        left .48rem
        width: .853333rem
        height .853333rem
        box-sizing: border-box
        padding: .106667rem
        text-align: center
        border-radius: 50%
        background-color: rgb(43,52,69)
        color: rgba(255,255,255,0.8)
        font-size: .64rem
      .img
        width: 100%
        height 10rem
    .tittle-wrapper
      margin: .48rem
      .tittle
        font-size: .373333rem
        font-weight: 700
        color: rgb(7,17,27)
        line-height: .373333rem
        margin-bottom: .213333rem
      .sell
        font-size: .266667rem
        color: rgb(147,153,159)
        line-height: .32rem
        margin-bottom: .48rem
        .sell-count
          display inline-block
          margin-right: .32rem
      .price
        font-size: .266667rem
        font-weight: normal
        color: rgb(240,20,20)
        line-height: .64rem
        .price-num
          display inline-block
          font-size: .373333rem
          font-weight: 700
          margin-right: .32rem
        .old-price
          font-size: .266667rem
          color: rgb(147,153,159)
        .shop-cart
          float right
          height .64rem
          line-height: .64rem
          width: 1.973333rem
          font-size: .266667rem
          color: rgb(255,255,255)
          background-color: rgb(0,160,220)
          border-radius: .32rem
          text-align: center
    .border
      width: 100%
      height .426667rem
      background-color: #f3f5f7
    .desc
      margin .48rem
      .tittle
        font-size: .373333rem
        color: rgb(0,0,0)
        margin-bottom: .16rem
      .content
        margin: 0 .213333rem
        font-size: .32rem
        font-weight: 200
        color: rgb(77,85,93)
        line-height: .64rem
    .rating
      margin .48rem
      margin-bottom: 0
      .tittle
        font-size: .373333rem
        color: rgb(0,0,0)
        margin-bottom: .48rem
      .tab
        margin-bottom: .48rem
        .rating-tittle
          display inline-block
          vertical-align: top
          margin-right: .213333rem
          padding .213333rem .32rem
          font-size: 0
          .rating-desc
            display inline-block
            font-size: .32rem
            line-height: .426667rem
          .number
            display inline-block
            font-size: .213333rem
          &.all
            color: rgb(255,255,255)
            background-color: rgb(0,160,220)
          &.nice
            color: rgb(77,85,73)
            background-color: rgba(0,160,220, 0.2) 
          &.bad
            color: rgb(77,85,73)
            background-color: rgba(77,58,39,0.2)
      .show-content
        padding: .32rem 
        border-top: .013334rem solid rgba(7,17,27,0.1)
        color: rgb(147,153,159)
        font-size: .32rem
        .icon
          display inline-block
          margin-right: .106667rem
          vertical-align: middle
          font-size: .64rem
          &.high-light
            color: rgb(0,160,220)
    .rating-wrapper
      border-top: .013334rem solid rgba(7,17,27,0.1)
      .rating
        margin 0.426667rem 0.48rem
        border-bottom: .013333rem solid rgba(77,85,93,0.2)
        .info-wrapper
          margin-bottom: .16rem
          font-size: .266667rem
          color: rgb(147,153,159)
          line-height: .32rem
          .time
            display inline-block
          .avatar
            float right
            .username
              display inline-block
              margin-right: .16rem
            .img
              height .32rem
              width: .32rem
              border-radius: 50%
        .content-wrapper
          .icon
            display inline-block
            margin-right: .106667rem
            font-size: .32rem
            line-height: .64rem
            &.up
              color: rgb(0,160,220)
            &.down
              color: rgb(147,153,159)
          .text
            font-size: .32rem
            color: rgb(7,17,27)
            line-height: .426667rem
