.search
  position relative
  height 100%
  width: 100%
  .top-wrapper
    width: 100%
    height 30px
    display flex
    .icon-back,.search-div
      flex 0 0 0
      width: 20px
      height 100%
    .input-wrapper
      flex 1 1 1
      .input
        width: 100%
        padding-left: 30px
        border: 0
      .icon
        display block
        position: absolute
        top: 5px
        left 5px
        font-size: 14px
  .result-wrapper
    .result-content
      border-bottom: 1px solid rgb(159,159,159,0.5)
      padding 5px
      .icon
        display inline-block
        margin-right: 5px
      .name
        display inline-block
      .count
        float right
        display inline-block
        margin-right: 5px