.shop-cart
  display: flex
  .left-wrapper
    flex: 1
    color: rgba(255,255,255,0.4)
    .logo-wrapper
      display inline-block
      vertical-align: top
      position: relative
      top: -0.16rem
      border: .16rem solid #141d27
      margin-bottom: .053333rem
      margin-left: .32rem
      width: 1.173334rem
      height: 1.173334rem
      border-radius: 50%
      .logo
        position relative
        display inline-block
        width: 1.173333rem
        height: 1.173333rem
        line-height: 1.173333rem
        vertical-align: top
        text-align: center
        border-radius: 50%
        font-size: .533333rem
        background-color: rgba(157,157,157,0.2)
      .high-light
        background-color: rgb(0,160,220)
        color: rgb(255,255,255)
    .price
      display inline-block
      vertical-align: top
      height .64rem
      line-height: .64rem
      margin-left: .32rem
      margin-right: .32rem
      margin-top: .32rem
      margin-bottom: .32rem
      font-size: .426667rem
      font-weight: 700
      color: rgba(255,255,255,0.4)
      &.high-light
        color: rgb(255,255,255)
    .desc
      display inline-block
      vertical-align: top
      height .64rem
      line-height: .64rem
      padding-left: .32rem
      margin-top: .32rem
      margin-bottom: .32rem
      border-left: .026667rem solid rgba(255,255,255,0.1)
      font-size: .373333rem
      font-weight: 100
  .right-wrapper
    width: 2.8rem
    padding-top: .32rem
    font-size: .32rem
    font-weight: 700
    line-height: .64rem
    vertical-align: middle
    text-align: center
    color: rgba(255,255,255,0.4)
    background-color: rgb(43,52,59)
    &.high-light
      background-color: #f98b3a
      color: white